@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

html,
body,
#root {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
}

.rbc-toolbar {
  gap: 16px;
  font-size: 0.8rem;
}
.rbc-toolbar button {
  padding: 8px;
}
.rbc-toolbar-label {
  order: 1;
  display: block;
  width: 350px;
}
.rbc-event-content {
  font-size: 10px;
}
